.banner{
    background-image: url('images/wood1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
}